* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url('a1.jpg');
  background-position: center;
  background-size: cover;
}
h2{
    text-transform:uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-size: 14px;

}
 .clock{
    display: flex;
    /* position: relative; */
    
}
.clock div{
    margin: 5px;
    position: relative;

}

.clock span{
    display: flex;
    width: 100px;
    height: 80px;
    opacity: 0.8;
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    text-shadow: 2px,2px 4px black;
} 
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: blue;
    letter-spacing: 2px;
    opacity: 0.8;
    

}
.clock .ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}