#but input{
margin-left: 45px;

}

.container{
    display: grid;
    place-items: center;
}
#fname ,#lname ,#age ,#phno ,#mail,#confirmpassword,#password,#Aim1{

    width:200px;
    height: 25px;
    background: transparent;
    border: none;
    background-color:#a59d9d3f;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    text-align: center;
    

}
form{

    display: block;
    display: block;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px grey;
height: clamp(380px,35%,380px);
/* width: clamp(250px,25%,300px); */

}
 #but input{
    width: 80px;
    padding: 7px;
    border-radius: 7px;
}
#re{
    background-color: red;
    cursor: pointer;
}
#su{
    background-color: green;
    cursor: pointer;
}
#re:hover{
    background-color: rgb(224, 48, 48);
    color: white;

}
#su:hover{
    background-color: rgb(30, 216, 30);
    color: white;
}


